@model NewestContentModel

<div class="row">
    <div class="col-lg-8">
        <h1>Newest Threads</h1>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th>Author</th>
                <th>Forum name</th>
                <th>Replys</th>
            </tr>

            @foreach (var thread in Model.Threads) {
                <tr>
                    <td>@thread.Title</td>
                    <td>@thread.CreatedTime.ToString()</td>
                    <td>
                        <a asp-controller="User" asp-action="Profile" asp-route-id="@thread.AuthorId">
                            @thread.AuthorName
                        </a>
                    </td>
                    <td>@thread.Forum.Title</td>
                    <td>@thread.ReplysCount</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-lg-4">
        <h1>Newest Posts</h1>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created at</th>
            </tr>

            @foreach (var post in Model.Posts) {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.CreatedTime.ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h1>Newest Users</h1>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Registered at</th>
                <th>Posts</th>
                <th>Last activity</th>
            </tr>

            @foreach (var user in Model.Users) {
                <tr>
                    <td>
                        <a asp-controller="User" asp-action="Profile" asp-route-id="@user.Id">
                            @user.UserName
                        </a>
                    </td>
                    <td>@user.JoinDate.ToString()</td>
                    <td>@user.PostsCount</td>
                    <td>@user.LastActivityTime.ToString()</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-lg-8">
        <h1>Recent active sessions</h1>
        <table class="table">
            <tr>
                <th>Hash</th>
                <th>User</th>
                <th>Time</th>
                <th>Location</th>
                <th>Action</th>
            </tr>

            @foreach (var session in Model.Sessions) {
                <tr>
                    <td>@session.SessionHash</td>
                    <td>
                        @if (session.LoggedIn) {
                            @session.User.UserName
                        } else {
                            <text>Guest</text>
                        }
                    </td>
                    <td>@session.LastActivity.ToLocalTime().ToShortTimeString()</td>
                    <td>@session.Location</td>
                    <td>
                        @if (session.InThreadId > 0) {
                            <text>Viewing: @session.InThread.Title</text>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>