@model LightDashboardModel

<div class="row">
    <div class="col-lg-7">
        <h1>Newest Threads</h1>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th>Author</th>
                <th>Forum name</th>
                <th>Replys</th>
            </tr>

            @foreach (var thread in Model.NewestThreads) {
                <tr>
                    <td>
                        <a asp-action="ViewThread" asp-route-id="@thread.Id">@thread.Title</a>
                    </td>
                    <td>@thread.LastPostTime.ToLocalTime().ToString()</td>
                    <td>
                        @thread.LastPoster.UserName
                    </td>
                    <td>@Html.Raw(thread.Forum.Title)</td>
                    <td>
                        @thread.ReplysCount
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-lg-5">
        <h1>New replys in active threads</h1>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created at</th>
            </tr>

            @foreach (var thread in Model.UnreadActiveThreads) {
                <tr>
                    <td>
                        @thread.ThreadTitle
                    </td>
                    <td>@thread.LastPostTime.ToLocalTime().ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h1>Thanks since last activity</h1>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Title</th>
            </tr>

            @foreach (var thanks in Model.RecentThanks) {
                <tr>
                    <td>@thanks.ThreadTitle</td>
                    <td>@thanks.Time.ToLocalTime().ToString()</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-lg-4">
        <h1>Viewable categories</h1>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Permission</th>
            </tr>

            @foreach (var category in Model.ViewableCategories) {
                var permission = Model.CategoryPermissions.FirstOrDefault(kvp => kvp.Key.Id == category.Id);

                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>@((int)permission.Value)</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-lg-4">
        <h1>Not viewable categories</h1>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Title</th>
            </tr>

            @foreach (var category in Model.NotViewableCategories) {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                </tr>
            }
        </table>
    </div>
</div>