@model ViewThreadModel

@{
    ViewData["Title"] = "ViewThread";
}

<h2>ViewThread</h2>

<div>
    <h4>VBLightThread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thread.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.LastPostTimeRaw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.LastPostTimeRaw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.LastPoster.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.LastPoster.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.LastPoster.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.LastPoster.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.LastPostId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.LastPostId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.Forum.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.Forum.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.ReplysCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.ReplysCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.DeletedReplysCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.DeletedReplysCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.IsOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.IsOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thread.LastPostTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.LastPostTime)
        </dd>
    </dl>
</div>

<table class="table">
    @foreach(var reply in Model.Replys) {
        <tr>
            <td>@reply.Author.UserName</td>
            <td>@reply.CreatedTime.ToLocalTime().ToString()</td>
            <td>@reply.Text</td>
        </tr>
    }
</table>